<mat-form-field>
  <mat-select placeholder="Constituency" [(ngModel)]="city" (selectionChange)="onSelectChange($event.value)">
    <mat-option *ngFor="let con of cons" [value]="con.city">
      {{con.city}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-card color="primary"><h2>{{city}}, {{stat}}</h2></mat-card>
<div>
  <h2 mat-dialog-title>{{fname}} {{lname}}</h2>
  <mat-dialog-content>
    <strong>{{party}}</strong>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <!-- <button mat-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp; -->
    <button mat-raised-button (click)="onCloseCancel()">CANCEL</button>
  </mat-dialog-actions>
</div>