.sidenav-container {
  height: 100%; 
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%  !important;
  opacity: 0.6;
}

.fixed-header1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
  height: 19%;
  align-content: bottom;
  background-color: white;
  opacity: 0.9;
}

.insidediv {
  position: absolute;
  bottom: 0;
  padding-left: 1%;
  padding-bottom: 0; 

}

.my-select-panel-class{
  font-size: 12px;   
}