.sidenav-container {
  height: 100%; 
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
  opacity: 0.7;
}