<div class="outer-wrapper">
  <div class="map-wrapper" id="wrapper" #wrapper>
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [scrollwheel]="true"
    [zoom]="zoom"
    id="AgmMap"
    #AgmMap>
    <!-- <agm-marker 
       [latitude]="lat"
       [longitude]="lng"
       [markerClickable]="true"
       [iconUrl]="'/assets/map-marker-2-512.gif'"></agm-marker> -->
       <div *ngFor="let con of cons" >
       <span [ngSwitch]="con.party">
       <p *ngSwitchCase="'Indian National Congress'">
        <agm-marker [latitude]="con.lat" [longitude]="con.long" [markerClickable]="true" [iconUrl]="'/assets/congres.png'" (markerClick)="openDialog(con.firstname)"></agm-marker> 
       </p>
       <p *ngSwitchCase="'Bharatiya Janata Party'">
        <agm-marker [latitude]="con.lat" [longitude]="con.long" [markerClickable]="true" [iconUrl]="'/assets/bjp.png'" (markerClick)="openDialog(con.firstname)"></agm-marker>
       </p>
       <p *ngSwitchDefault>
        <agm-marker [latitude]="con.lat" [longitude]="con.long" [markerClickable]="true" [iconUrl]="'/assets/map-marker-2-512.gif'" (markerClick)="openDialog(con.firstname)"></agm-marker> 
       </p>
       </span>]

       
       </div>   
       
  </agm-map>
  </div>
</div>